<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Introuvable !</h1>
    <button class="btn btn-primary" onclick="window.location.href = '/'">Retourner à la page d'accueil</button>

<%- include('includes/end.ejs') %>
