<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1><%= article.title %></h1>
        <article class="grid ">          
        </article>
    </main>
<%- include('includes/end.ejs') %>