<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1><%= snippet.title %></h1>
        <snippet class="grid ">          
        </snippet>
    </main>
<%- include('includes/end.ejs') %>